.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  padding-top: 4rem;
  .home-search-control {
    margin-right: 5rem;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      margin-right: 0;
    }
    @media (max-width: 468px) {
      flex-direction: column;
      margin-bottom: 1rem;
    }
    button {
      margin-left: 0.4rem;
      background-color: #398d63;
      padding: 0.6rem 1rem;
      border: none;
      color: white;
      font-family: inherit;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #2d7752;
      }
    }
  }

  .home-content {
    width: 50%;
    @media (max-width: 768px) {
      width: 80%;
    }
    @media (max-width: 468px) {
      width: 95%;
    }
  }
  .home-head-card {
    background-color: #f1f9ff;
    padding: 1rem;
    display: flex;
    margin-bottom: 1rem;
  }
  .home-head-card-left div {
    font-size: 1.4rem;
    font-weight: 600;
    color: #398d63;
  }
  .home-head-card-right {
    flex: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .home-head-card-left span {
    font-size: 40px;
  }
  .home-cards-list {
  }
  .home-card {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 0.5rem 0;
    .home-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 468px) {
        flex-direction: column;
      }
      .home-card-left {
        display: flex;
        @media (max-width: 468px) {
          margin-bottom: 1.5rem;
        }
      }
      .home-card-title {
        font-weight: 500;
      }
      .home-card-img {
        margin-right: 15px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: rgb(226, 226, 226);
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    &-detail {
      display: flex;
      justify-content: space-between;
      .home-card-img {
        height: 170px;
        width: 50%;
        background-color: gray;
        margin: 2rem 0.5rem;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.select-input {
  padding: 0.7rem 1rem;
  min-width: 170px;
  border: none;
  font-size: 13px;
  font-family: inherit;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  margin: auto;
  border: 1px solid rgb(231, 231, 231);
  outline: none;
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
    border: 1px solid #398d63bd;
  }
}
.text-14{
  font-size: 14px;
}

.dashboard-page-heading{
  display: flex;
 
  position: sticky;
  top: 60px;
  z-index: 1;
  flex-direction: column;
}

.custom-heading{

  border-top: 6px solid #696c68;
  label{
    color: black;
  }
  h2{
    color: #30332f;
  }
}

.feed-main-card-div{
  width: 700px;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  top: -50px;
  p{
    margin-bottom: 0;
  }

  .feed-status{
    background-color: #c8fbce;
    color: #2d6459;
    height: fit-content;
    padding: .5rem 1rem;
    font-weight: 500;
  }

  .btns-div{
    a{
      width: 50%;
      text-align: center;
      padding: 1rem;
      border-radius: 6px;
      
    }
    .btn-light-color{
      background-color: #e1e4e1;
    }
    .btn-green-color{
      background-color: #2a804c;
      a{
        color: white;
      }
    }
    .btn-light-color{
      margin-right: 1rem;
    }
    .btn-green-color{
      color: white;
    }
  }
}

@media (max-width: 1200px){
  .feed-main-card-div{
    width: 100%;
    margin: 0 2rem;
  }
}

@media (max-width: 992px){
  .feed-main-card-div{
    width: 550px;
    margin: 0 2rem;
  }
}

@media (max-width: 768px){
  .feed-main-card-div{
    width: 100%;
    margin: 0 2rem;
  }
  .custom-container{
    margin: 0 1rem;
  }
}

@media (max-width: 576px){
  .btns-div{
    a{
      display: block;
      width: 100% !important;
    }
    .btn-light-color{
      margin-bottom: 1rem;
    }
  }
  .card-inner-details{
    display: flex;
  }
  .feed-status{
    font-size: 14px;
  }
}