.form-input {
  margin: 1rem 0;
  input {
    padding: 0.4rem 1rem;
    min-width: 160px;
    width: 100%;
    border: none;
    font-size: 13px;
    font-family: inherit;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    transition: all 0.2s ease-in-out;
  }
  input:focus {
    outline: none;
    border: 1px solid #398d63bd;
  }
}

.input-container {
  position: relative;
  span {
    position: absolute;
    top: 25.5%;
    left: 4%;
    font-size: 22px;
    color: gray;
  }
}

.input-icon input {
  padding-left: 2.7rem;
}
